*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  margin: 5rem;
  font-family: "Gilroy-ExtraBold";
  font-size: 1.725rem;
  color: #5945ff;
  box-sizing: border-box; }

@font-face {
  font-family: Gilroy-ExtraBold;
  src: url("/sass/vendors/fonts/Gilroy-ExtraBold.otf"); }

@font-face {
  font-family: Gilroy-Light;
  src: url("/sass/vendors/fonts/Gilroy-Light.otf"); }

.type-and-pixel {
  font-family: "Gilroy-ExtraBold"; }

.u-font-big {
  font-size: 2rem; }

.u-font-light {
  font-family: "Gilroy-Light";
  font-weight: 900; }

.flexbox {
  display: flex;
  justify-content: space-between;
  align-items: baseline; }

.btn--menu {
  text-decoration: none;
  border: 1px solid blue; }
