.grid {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    grid-row-gap: 9rem;
    grid-column-gap: 4rem;

    &--header {
        grid-column: 1/10;
    }

    &--text {
        grid-column: 8/12;
        grid-row: 2;
    }

    @include medium_screen {
        grid-template-columns: repeat(1, minmax(0, 1fr));
        grid-column-gap: 0rem;

        &--header,
        &--text {
            grid-column: 1;
        }
    }
}