@keyframes right-to-left {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

@keyframes wipeLeft {
    0% {
        transform: scaleX(1);
    }

    100% {
        transform: scaleX(0);
    }
    
}

@keyframes wipeRight {
    0% {
        transform: scaleX(0);
    }

    100% {
        transform: scaleX(1);
    }
    
}

@keyframes clipUpwards {
    0% {
        transform: translateY(0%);
    }

    100% {
        transform: translateY(-50%);
    }
}

@keyframes clipBackwards {
    0% {
        transform: translateY(-50%);
    }

    100% {
        transform: translateY(0%);
    }
}
